.red {
    color: red;
    font-size: 30px;
}

.border {
    border: 2px solid black;
    border-radius: 25px;
    width: 550px;
    height: 400px;
    padding-top: 30px;
    margin-top: 2%;
    margin-right: 25%;
    padding-right: 20px;
    margin-left: 35%;
    padding-left: 20px;
}